body {
  background-color: $grey;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
}

p {
  font-family: $text;
  color: $white;
  margin: 0;
  max-width: 80vw;
}

h1 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  p {
    font-size: 26px;
  }
}