#pagina {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  height: max-content;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 85px);
  width: 100vw;
  position: fixed;
  top: 85px;
  scrollbar-gutter: none;
  margin: 0%;

  /* Barra chrome */
  &::-webkit-scrollbar {
    width: 8px;
    /* ancho de la barra de desplazamiento */
    height: 10px;
    background-color: unset;
    /* color de fondo de la barra de desplazamiento */
  }

  &::-webkit-scrollbar-thumb {
    // background-color: rgba(95, 95, 95, 0.7);
    /* color del pulgar de la barra de desplazamiento */
    border-radius: 3px;
  }

  /* Estilo de la barra de desplazamiento al hacer hover */
  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(124, 124, 124, 0.7);
    /* color del pulgar de la barra de desplazamiento al hacer hover */
  }

  /* Barra firefox */
  textarea {
    scrollbar-width: thin;
    scrollbar-color: rgba(95, 95, 95, 0.7) transparent;
  }
}