$black: rgb(0, 0, 0);
$blackT: rgba(0, 0, 0, 0.7);
$grey: rgb(62, 62, 62);
$white: rgb(255, 255, 255);
$purple: rgb(55, 13, 70);
$green: rgb(120, 221, 5);
$orange: rgb(201, 124, 9);
$red: rgb(201, 9, 9);

$title: 'Prompt', sans-serif;
$text: 'Dosis', sans-serif;